@import "variables";
@import "fonts";
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
//@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
//@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/input-group";
//@import "~bootstrap/scss/custom-forms";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/_utilities";
//@import "~bootstrap/scss/_type";
@import "~bootstrap/scss/bootstrap";

@import "typography";
@import "kalendario";

.nav-logo {
  font-family: RedHat, serif;
  font-weight: bold;
}

.nav-spacer {
  flex: 1 1 auto;
}

.navbar-container {
  position: fixed;
  z-index: 99;
}

.company-shadow-1 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

.round-image {
  border-radius: 50%;
  object-fit: cover;
}
