@import "variables";
@import "fonts";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";

@import "reset";
//@import "~font-awesome/scss/font-awesome";
@import "./common/kalendario-bs";
@import '~react-big-calendar/lib/sass/styles';

.nav-logo {
  font-family: RedHat, serif;
  font-weight: bold;
}

.nav-spacer {
  flex: 1 1 auto;
}

.navbar-container {
  position: fixed;
  z-index: 99;
}

.k-shadow-0 {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.k-shadow-1 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-container {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

.round-image {
  border-radius: 50%;
  object-fit: cover;
}
