@import "src/styles/variables";

$base-width: 12.5rem;

.sideItem {
  min-width: 5rem;
  width: 5rem;
}

.panelItem {
  min-width: $base-width;
  width: $base-width;
  border-bottom: 0.5px solid #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

.middleItem {
  width: $base-width;
  border-bottom: 0.5px dashed #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

.unavailableSlot {
  background-color: #d0d0d0;
}

.borderRight {
  border-bottom: 0.5px solid #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

.panelEvent {
  z-index: 2;
  width: $base-width;
  position: absolute;
  border: 0.5px lightgray solid;
  border-radius: 10px;
  cursor: pointer;
}

.currentTimeLine {
  border-bottom: $accent 1px solid;
  width: 100%;
  position: absolute;
  z-index: 40;
}
