

.panelItem {
  width: 16rem;
  border-bottom: 0.5px solid #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

.middleItem {
  width: 16rem;
  border-bottom: 0.5px dashed #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

.borderRight {
  border-bottom: 0.5px solid #B4B4B4;
  border-right: 0.5px solid #B4B4B4;
}

